In [1]:
import pandas as pd

In [3]:
df_clientespd.read_csv("https://github.com/cmattosr/bootcampDS_mod06/raw/main/dados/clientes_cadastrados.csv")

,ID_Cliente,Genero,Tem_Carro,Tem_Casa_Propria,Qtd_Filhos,Rendimento_Anual,Categoria_de_renda,Grau_Escolaridade,Estado_Civil,Moradia,Idade,Tem_Celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_Familia,Anos_empregado
0,5008804,H,1,1,0,427500.0,Empregado,Ensino superior,Uniao estavel,Alugado,33.0,1,1,0,0,Outros,2.0,12.4
1,5008805,H,1,1,0,427500.0,Empregado,Ensino superior,Uniao estavel,Alugado,33.0,1,1,0,0,Outros,2.0,12.4
2,5008806,H,1,1,0,112500.0,Empregado,Ensino medio,Casado,Casa propria,59.0,1,0,0,0,Seguranca,2.0,3.1
3,5008808,M,0,1,0,270000.0,Associado comercial,Ensino medio,Solteiro,Casa propria,52.0,1,0,1,1,Venda,1.0,8.4
4,5008809,M,0,1,0,270000.0,Associado comercial,Ensino medio,Solteiro,Casa propria,52.0,1,0,1,1,Venda,1.0,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,6840104,H,0,1,0,135000.0,Pensionista,Ensino medio,Separado,Casa propria,62.0,1,0,0,0,Outros,1.0,-1000.7
438553,6840222,M,0,0,0,103500.0,Empregado,Ensino medio,Solteiro,Casa propria,44.0,1,0,0,0,Construcao Civil,1.0,8.2
438554,6841878,M,0,0,0,54000.0,Associado comercial,Ensino superior,Solteiro,Mora com os pais,22.0,1,1,0,0,Venda,1.0,1.0
438555,6842765,M,0,1,0,72000.0,Pensionista,Ensino medio,Casado,Casa propria,59.0,1,0,0,0,Outros,2.0,-1000.7
438556,6842885,M,0,1,0,121500.0,Empregado,Ensino medio,Casado,Casa propria,52.0,1,0,1,0,Venda,2.0,3.3

In [4]:
df_clientes_cadastrados.shape

(438557, 18)

In [7]:
#Verificar se há clientes repetidos
df_clientes_cadastrados["ID_Cliente"].value_counts()

7045794    2
7636389    2
7046068    2
7052812    2
7742298    2
          ..
5709384    1
5727815    1
5729862    1
6780485    1
6293503    1
Name: ID_Cliente, Length: 438510, dtype: int64

In [9]:
#Há clientes repetidos neste dataframe (ID_Cliente)

#Verificar se ha linhas duplicadas (utilizamos o sum, se houver duplicatas será somado o valor 1 para cada ocorrência)
df_clientes_cadastrados.duplicated().sum()

0

In [16]:
#não há linhas duplicadas

#verificar quanto são os clientes repetidos, o keep=False contabiliza todas as ocorrências com IDs iguais, o valor default True contabiliza apenas a duplicata
df_clientes_cadastrados[df_clientes_cadastrados["ID_Cliente"].duplicated(keep=False)].shape

(94, 18)

In [19]:
#Há 94 clientes repetidos (na verdade 47 aparecem duas vezes)
#Essas linhas serão removidas pois são irrelevantes considerando o total do dataframe (94 repetidos em 438557 linhas), mas serão armazenadas separadamente
id_repetidos = df_clientes_cadastrados[df_clientes_cadastrados["ID_Cliente"].duplicated(keep=False)]["ID_Cliente"]
id_repetidos

421211    7702516
421268    7602432
421349    7602432
421464    7836971
421698    7213374
           ...
433158    7282535
433159    7742853
433217    7135270
433666    7091721
433789    7618285
Name: ID_Cliente, Length: 94, dtype: int64

## Desafio 01: Explorar o motivo pelo qual há clientes repetidos no dataframe

In [20]:
#remover as linhas com clientes repetidos, que já estão armazenados em id_repetidos
df_clientes_cadastrados_unicos = df_clientes_cadastrados.drop(id_repetidos.index)
df_clientes_cadastrados_unicos.shape

(438463, 18)

In [23]:
#checar se ainda há clientes repetidos
df_clientes_cadastrados_unicos["ID_Cliente"].value_counts()

6291456    1
6480139    1
6486280    1
5409030    1
6463747    1
          ..
6569516    1
6690720    1
6583845    1
6575649    1
6293503    1
Name: ID_Cliente, Length: 438463, dtype: int64

In [25]:
#verificar se há valores nulos
df_clientes_cadastrados_unicos.isnull().sum()

ID_Cliente               0
Genero                   0
Tem_Carro                0
Tem_Casa_Propria         0
Qtd_Filhos               0
Rendimento_Anual         0
Categoria_de_renda       0
Grau_Escolaridade        0
Estado_Civil             0
Moradia                  0
Idade                    0
Tem_Celular              0
Tem_telefone_trabalho    0
Tem_telefone_fixo        0
Tem_email                0
Ocupacao                 0
Tamanho_Familia          0
Anos_empregado           0
dtype: int64

In [26]:
#não há valores nulos

#analisar o dataframe
df_clientes_cadastrados_unicos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438463 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Cliente             438463 non-null  int64
 1   Genero                 438463 non-null  object
 2   Tem_Carro              438463 non-null  int64
 3   Tem_Casa_Propria       438463 non-null  int64
 4   Qtd_Filhos             438463 non-null  int64
 5   Rendimento_Anual       438463 non-null  float64
 6   Categoria_de_renda     438463 non-null  object
 7   Grau_Escolaridade      438463 non-null  object
 8   Estado_Civil           438463 non-null  object
 9   Moradia                438463 non-null  object
 10  Idade                  438463 non-null  float64
 11  Tem_Celular            438463 non-null  int64
 12  Tem_telefone_trabalho  438463 non-null  int64
 13  Tem_telefone_fixo      438463 non-null  int64
 14  Tem_email              438463 non-null  int64
 15  Ocupacao               438463 non-null  object
 16  Tamanho_Familia        438463 non-null  float64
 17  Anos_empregado         438463 non-null  float64
dtypes: float64(4), int64(8), object(6)
memory usage: 79.7+ MB

## Desafio 02: Explorar as colunas (features), identificar se são contínuas, categóricas ou binárias